<!DOCTYPE html>
<head>
  <title>
    Node Project 2
  </title>
  <link rel="stylesheet" href="/static/stylesheets/styles.css" type="text/css" />
  <!-<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!---link href="https://use.fontawesome.com/release/v5.8.2/css/all.css" rel="stylesheet"/> -->
</head>
<body>
  <div class="transcript">
    <h2><%= comicData.transcript %></h2>
  </div>
  <div class="todo-container">
    <h2>
      <%= comicData.safe_title %>
    </h2>
    <h2>
      Month and Year: <%= comicData.month %>/<%= comicData.year %>
    </h2>
    <img src="<%= comicData.img %>" alt="<%= comicData.alt %>" width="600" height="500"/>
  </div>
  </body>